@charset "UTF-8";
/**
 * 
 * @authors Mozkoe (Moz@example.org)
 * @date    2015-03-25 20:37:22
 * @version $0.01$
 */
 
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 18px/1.5 "Open Sans", sans-serif;
  color: #64535B;
  background: #FDFCF7; 
}

h1, h2, h3, h4, p {
 margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

#header {
  height: 64px;
  width: 100%;
  z-index: 100;
  color: #F7F5EC;
  background-color: #da6351;
}

#header-containter {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
}

#logo {
  margin: 16px 0;
  font-size: 26px;
  line-height: 32px;
}

.header-container {
  width: 1170px;
  height: 64px;
  margin: 0px auto;
  text-align: center;
  font-size: 15px;
}

.header-link {
  position: relative; 
  float: left;
  margin: 16px 0 16px 30px;
  font-size: 18px;
  line-height: 32px;
}
.header-link:after {
  content: "";
  position: absolute;
  left: 0; bottom: 0;
  width: 100%;
  height: 2px;
  background: rgba(247, 245, 236, 0.5);
  -webkit-transform: scaleX(0); transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.35s ease;
  transition: transform 0.35s ease;
}
.header-link:hover:after, .header-link.active:after {
  -webkit-transform: -webkit-scaleX(1);
  transform: scaleX(1);
}

@media screen and (max-width: 1200px) {
  .header-container {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  body {
    padding-top: 0;
    font-size: 16px;
  }
  body:before {
    font-size: 48px;
  }
  #header {
    position: static;
    width: 100%;
  }
  .header-container {
    padding-right: 0;
    width: 100%;
  }
  
  .header-nav {
    width: 45%;
  }
  .header-link {
    margin: 0;
    width: 50%;
    padding: 0 10px;
    font-size: 16px;
  }
  .header-link:after {
    display: none;
  }
  .header-link.active:after {
    content: "•";
    position: static;
    display: inline;
    margin-left: 0.5em;
    background: transparent;
  }
  .header-link:nth-child(1) {
    background: #dc6c5c;
  }
  .header-link:nth-child(2) {
    background: #de7666;
  }
  .header-link:nth-child(3) {
    background: #e17f71;
  }
  .header-link:nth-child(4) {
    background: #e3897b;
  }
  #footer span {
    display: block;
  }
}

.intro {
  margin-bottom: 1em;
  padding: 5.5em 10px 3em;
  text-align: center;
  background: #f6f1da;
}

.intro-title {
  font-size: 2.75em;
  line-height: 1.25;
  margin-bottom: 20px;
}

.bf-intro {
  max-width: 640px;
  margin: 0 auto 3.5em;
}

.bf-intro > a {
  color: #8d7681;
}

.intro-github { 
  position: relative;
  padding: 5px 20px;
  word-spacing: 5px;
  border: 2px solid #9FCFC0;
  border-radius: 26px;
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
  }
.intro-github:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom:-2px;
  z-index: 0;
  background: #9FCFC0;
  border-radius: inherit;
  -webkit-transform: scaleX(0); transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.35s ease;
  transition: transform 0.35s ease;
  }
.intro-github:after { 
  content: "Eco round"; 
  position: relative; 
  z-index: 1; 
  }
.intro-github:hover { 
  color: #F7F5EC;
  }
.intro-github:hover:before { 
  -webkit-transform: -webkit-scaleX(1);
  transform: scaleX(1);
  }

.intro-social {
  padding-top: 40px;
  }

/*footer*/

#footer {
  width: 100%;
  height: 120px;
  border-top: 1px solid rgba(0, 0, 0, 0.22);
  text-align: center;
  color: #999;
  background-color: #F8F8F8;
}